@import "variables";

@mixin justify($justify) {
    display: flex;
    justify-content: $justify;
}


.header {
    @include justify(space-around);
    background-color: $color-secundario;
    border: solid 1px black;
    margin: 0px;
    .header___a--img {
        height: 64px;
        border-radius: 20px;
    }
}


.nav__ul {
    display: flex;
    align-items: flex-end;
    li {
        list-style: none;
        background-color: $color-terciario;
        border-radius: 10px;
        .ul__il--a {
            font-size: 25px;
            color: #FF4C29;
            padding: 20px;
            text-decoration: none;
        }
    }
    
}


.btn a {
    text-decoration: none;
    color: #FF4C29;
    background-color: $color-terciario;
    padding: 2px;
    font-size: 20px;
    border-radius: 10px;
}